<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Event-Simplified -- About</title>
  <link rel="stylesheet" href="css/reset.css" />
  <link rel="stylesheet" href="css/grid.css" />
  <link rel="stylesheet" href="css/main.css" />
  <script type="module" src="js/main.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollToPlugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/TextPlugin.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="icon" type="image/png" sizes="32x32" href="Images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="Images/favicon-16x16.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>
  <div id="main-wrapper">
    <header>
      <div class="logo">
        <a href="index.html">
          <img id="logo-img" src="assets/icons/ES-Logo-1-cropped.png" alt="Our Logo">
        </a>
      </div>
      <div class="container">
        <nav>
          <a href="index.html">HOME</a>
          <a href="events.html">EVENTS</a>
          <a href="#">HISTORY</a>
          <a href="about-me.html">ABOUT ME</a>
        </nav>
      </div>
      <button class="hamburger">
        <div class="bar"></div>
      </button>
      <a href="#" class="donate-button">CONTACT US</a>
    </header>

    <nav class="mobile-nav">
      <a href="index.html">HOME</a>
      <a href="events.html">EVENTS</a>
      <a href="#">HISTORY</a>
      <a href="about-me.html">ABOUT ME</a>
    </nav>

    <section class="hero">
      <div class="image-container">
        <img id="header-img" src="Images/williamsanto_ai.png" alt="Image Carousel">
      </div>
      <div class="content">
        <h1>Welcome!</h1>
        <p>We recognize the value of your time and the constraints on your resources. Our platform is designed to simplify all facets of event planning and management.</p>
        <br>
        <p>With our user-friendly software, you can eliminate administrative burdens and welcome effortlessly organized, stress-free events.</p>
      </div>
    </section>

  <main>
    <section>
      <div class="about-me-1">
        <p>I've been passionate about event planning since I was 10, starting with small family gatherings where I coordinated games and decorations. This early interest blossomed as I took on larger roles, organizing school functions and community events. Through years of experience, I've developed a knack for handling everything from venue selection to budget management. Each event presents a new challenge and a canvas for creativity, from corporate gatherings to personal celebrations. My goal is to create memorable experiences that bring people joy and celebration.
        </p>
        <div class="about-image-1">
          <img id="" src="Images/williamsanto_ai.png" alt="Pic of William Santo" />
        </div>
      </div>
    </section>

    <section>
      <div class="about-me-1">
        <div class="about-image-1">
          <img id="" src="Images/studio-talk.png" alt="Pic of William Santo" />
        </div>
        <p>I've been passionate about event planning since I was 10, starting with small family gatherings where I coordinated games and decorations. This early interest blossomed as I took on larger roles, organizing school functions and community events. Through years of experience, I've developed a knack for handling everything from venue selection to budget management. Each event presents a new challenge and a canvas for creativity, from corporate gatherings to personal celebrations. My goal is to create memorable experiences that bring people joy and celebration.
        </p>
      </div>
    </section>

    <section>
      <div class="about-me-1">
        <p>I've been passionate about event planning since I was 10, starting with small family gatherings where I coordinated games and decorations. This early interest blossomed as I took on larger roles, organizing school functions and community events. Through years of experience, I've developed a knack for handling everything from venue selection to budget management. Each event presents a new challenge and a canvas for creativity, from corporate gatherings to personal celebrations. My goal is to create memorable experiences that bring people joy and celebration.
        </p>
        <div class="about-image-1">
          <img id="" src="Images/public-meeting.png" alt="Pic of William Santo" />
        </div>
      </div>
    </section>

    <section>
      <div>
        <h2>NEWS</h2>
        <p>Click here to explore our History page and discover how Event Simplified is continually revolutionizing the way events are planned and executed!</p>
        <nav>
          <a href="#">LEARN UP</a>
        </nav>
      </div>
    </section>
  </main>

  <footer class="site-footer">
      
    <div class="connected">
      <h3>Stay Connected</h3>
      <p>Join our community and stay in the loop with the latest updates,and exciting news! Simply fill out the form below to subscribe to our newsletter and be part of our vibrant community.</p>
      <h4>EMAIL: INFO@EVENSIMPLIFIED</h4>
      <h4>EVENT SIMPLIFIED</h4>
    </div>
    <div class="footer-logo">
      <img id="logo-img-footer" src="./assets/icons/66-logo.svg">
    </div>

    <div id="app" class="contact-form">
      <p class="form-key">Please fill the form <span class="required"></span></p>
      <form @submit.prevent="submitForm" id="contactForm">
        <label for="firstName">First Name: <span class="required"></span></label>
        <input type="text" id="firstName" v-model="formData.firstName">

        <label for="lastName">Last Name: <span class="required"></span></label>
        <input type="text" id="lastName" v-model="formData.lastName">

        <label for="email">Email: <span class="required"></span></label>
        <input type="email" id="email" v-model="formData.email">

        <label for="testAnswer">What is 4+4 (Type the number) <span class="required"></span></label>
        <input type="text" id="testAnswer" v-model="formData.testAnswer">

        <label for="message">Message: <span class="required"></span></label>
        <textarea id="message" v-model="formData.message"></textarea>

        <input type="text" id="honeypot" v-model="formData.honeypot">

        <button :class="{ 'button__circle': submitted, 'button': true }" type="submit">
          <div class="container">
            <span class="tick" v-html="buttonText">Submit</span>
          </div>
        </button>

        <ul v-if="errors">
          <li v-for="error in errors">{{error}}</li>
        </ul>
        <div v-if="responseMessage">
          {{ responseMessage }}
        </div>
      </form>
    </div>

    <section class="grid-con">
      <h2 class="hidden">Footer</h2>
      <div id="line-foot" class="col-span-4 m-col-span-12 l-col-span-12 xl-col-span-12">
        <ul class="menu-social">
          <li>
            <a href="https://twitter.com/FanshaweCollege?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
              <img class="icons" src="Images/twitter.svg" alt="twitter">
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/FanshaweCollege/">
              <img class="icons" src="Images/facebook.svg" alt="facebook">
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/@Fanshawe-College">
              <img class="icons" src="Images/youtube.svg" alt="youtube">
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/fanshawecollege/?hl=en">
              <img class="icons" src="Images/instagram.svg" alt="instagram">
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/school/fanshawe-college/?originalSubdomain=ca">
              <img class="icons" src="Images/linkedin-in.svg" alt="Linkedin">
            </a>
          </li>
        </ul>
      </div>
    </section>
  </footer>

  <script src="js/main.js"></script>
</body>

</html>