@media only screen and (min-width: 769px) and (max-width: 1024px) {
    
    .hero {
        display: flex;
        height: 455px;
    }
    
    .hero img {
        margin-left: 3rem;
        width: 250px;
    }
    .content {
        position: relative;
        bottom: 5rem;
        padding: 2rem;
        color: #fff;
        max-width: 22rem;
        h1 {
            padding: 2rem 0;
            font-size: 5.5rem;
            font-weight: 300;
        }
        p {
            width: 27rem;
            font-size: 20px;
        }
    }

    .about-me-1,
    .about-me-2,
    .about-me-3 {
        display: flex;
        margin: 0 auto;
        width: 80%;
        height: 700px;
        align-items: center;
        justify-content: space-around;
        p {
            padding: 0 2rem;
            font-size: 18px;
            width: 300px;
        }
        img {
            width: 315px;
        }
    }


}
