@media only screen and (min-width: 1025px) {

    *, *::before, *::after {
        box-sizing: border-box;
      }
      
      body {
        margin: 0;
      }
      
      .main-container {
        max-width: 90vw;
        left: 9rem;
        margin-right: 16rem;
        position: relative; 
        display: flex;
        align-items: center;
        padding: 20px;
        justify-content: flex-end;
      }
      
      .text-content {
        color: #fff;
        left: 5rem;
        width: 50%;
        position: absolute;
        z-index: 2; 
        top: 7rem;
      }

      .nav-content {
        // max-width: 90vw;
        left: 12rem;
        // margin-right: 16rem;
        // position: relative;
        // display: flex;
        // align-items: center;
        // padding: 20px;
        // justify-content: flex-end;
      }
      
      .nav-content a, #learn-up {
        margin: 10px;
        padding: 10px 20px;
        background-color: #FF6600;
        color: #fff;
        text-decoration: none;
        margin: 0 0 2rem;
      }
      
      .image-carousel {
        z-index: 1; /* Ensure text content is above the image carousel */
        width: 65%; /* Set image width to 65% of the page */
        max-width: 65%; /* Limit the maximum width of the image carousel */
        position: relative; /* Ensure image carousel remains in the document flow */
      }
      
      .carousel {
        max-width: 816px;
        height: 630px;
        position: relative;
        left: 5rem;
      }
      
      .carousel > ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      
      .slide {
        position: absolute;
        inset: 0;
        opacity: 0;
        transition: 200ms opacity ease-in-out;
        transition-delay: 200ms;
        top: 50px;
      }
      
      .slide > img {
        display: block;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
      
      .slide[data-active] {
        opacity: 1;
        z-index: 1;
        transition-delay: 0ms;
      }
      
      .carousel-button {
        position: absolute;
        z-index: 2;
        background: none;
        border: none;
        font-size: 4rem;
        top: 50%;
        transform: translateY(-50%);
        color: rgba(255, 255, 255, .5);
        cursor: pointer;
        border-radius: .25rem;
        padding: 0 .5rem;
        background-color: rgba(0, 0, 0, .1);
      }
      
      .carousel-button:hover,
      .carousel-button:focus {
        color: white;
        background-color: rgba(0, 0, 0, .2);
      }
      
      .carousel-button:focus {
        outline: 1px solid black;
      }
      
      .carousel-button.prev {
        left: 1rem;
      }
      
      .carousel-button.next {
        right: 1rem;
      }
      
}
